@model PermissionManagerModel
<div>
    <form asp-action=@(Model.Operation == "ADD" ? "AddToUser" : "RemoveFromUser") method="post">
        <div class="row">
            <div class="col-6">
                <h3 class="text-center">Uprawnienia</h3>
                <div class="form-group">
                    <select asp-for="@Model.SelectedPermissions" value="@Model.SelectedPermissions" multiple class="form-control">
                        @foreach (var item in Model.Permissions)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <h3 class="text-center">Użytkownicy</h3>
                <div class="form-group">
                    <select asp-for="@Model.SelectedUsers" value="@Model.SelectedUsers" multiple class="form-control">
                        @foreach (var item in Model.Users)
                        {
                            <option value="@item.Id">@item.Email</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" value=@(Model.Operation == "ADD" ? "Dodaj!" : "Usuń!") type="submit" />
    </form>
</div>