@model ReflectionIT.Mvc.Paging.PagingList<Permission>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<h2>Uprawnienia</h2>

<nav aria-label="User Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<div style="max-width:calc(50% - 50px);" class="d-flex justify-content-sm-around">
    <a class="btn btn-primary m-3" asp-controller="Permission" asp-action="EditView">Utwórz</a>
    <a class="btn btn-primary m-3" asp-controller="Permission" asp-action="AddToUser">Przypisz użytkownikowi</a>
    <a class="btn btn-primary m-3" asp-controller="Permission" asp-action="RemoveFromUser">Usuń użytkownikowi</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nazwa znormalizowana</th>
            <th scope="col">Pełna nazwa</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.FullName</td>
                <td class="d-flex justify-content-around">
                    <a asp-controller="Permission" asp-action="EditView" asp-route-id="@item.Id">
                        Edytuj
                    </a>
                    <a asp-controller="Permission" asp-action="Get" asp-route-id="@item.Id">Szczegóły</a>
                    <a asp-controller="Permission" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>