@model Flight

<div class="row text-center">
    <div class="col">
        <h2>Nazwa wylotu</h2>
        <p>@Model.FlightName</p>
    </div>
    <div class="col">
        <h2>Samolot</h2>
        <p>@Model.Airplane.PlaneName</p>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <h2>Wylot z:</h2>
        <p>@Model.FromCountry @Model.FromCity</p>
    </div>
    <div class="col">
        <h2>Wylot do:</h2>
        <p>@Model.ToCountry @Model.ToCity</p>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <h2>Data wylotu:</h2>
        <p>@Model.DepartureDate</p>
    </div>
    <div class="col">
        <h2>Zarezerwowanych miejsc:</h2>
        <p>@Model.Reservations.Count() / @Model.Airplane.NumberOfSeats</p>
    </div>
</div>