@model ReflectionIT.Mvc.Paging.PagingList<Employee>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<h2>Pracownicy</h2>

<nav aria-label="User Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Imię i nazwisko</th>
            <th scope="col">Stanowisko</th>
            <th scope="col">Email</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name @item.Surname </td>
            <td>@item.WorkPosition</td>
            @if (item.User != null)
            {
                <td>@item.User.Email</td>
            }
            else
            {
                <td>Użytkownik bez konta</td>
            }
            <td class="d-flex justify-content-around">
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">
                    Edytuj
                </a>
                <a asp-controller="Employee" asp-action="Get" asp-route-id="@item.Id">Szczegóły</a>
                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>