@model ReflectionIT.Mvc.Paging.PagingList<User>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<h2>Użytkownicy</h2>

<nav aria-label="User Paging">
    @await this.Component.InvokeAsync("Pager", new {pagingList = this.Model})
</nav>

<a class="btn btn-primary m-3" asp-controller="User" asp-action="EditView">Utwórz</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Nazwa użytkownika</th>
            <th scope="col">Imię i nazwisko</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <td>@item.Email</td>
            <td>@item.UserName</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.DateOfBirth</td>
            <td class="d-flex justify-content-around">
                <a asp-controller="User" asp-action="EditView" asp-route-id="@item.Id">
                    Edytuj
                </a>
                <a asp-controller="User" asp-action="Get" asp-route-id="@item.Id">Szczegóły</a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
            }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>